<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Tetris on AngularJs</title>

    <meta property="og:url" content="http://denispronin.github.io/AngularTetris/" />
    <meta property="og:title" content="Tetris on AngularJS" />
    <meta property="og:image" content="http://gameaboutsquares.com/14.png" />

    <link rel="stylesheet" href="app/css/app.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>

    <script>var addthis_config = {"data_track_addressbar":true};</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53d224b87966c5b1"></script>

</head>
<body data-ng-app="AppTetris">
    <div class="navbar navbar-default " role="navigation" ng-controller="HeaderCtrl">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Tetris</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: isClassic()}"><a href="#" data-ng-click="setLevel(0)">Classic game</a></li>
                    <li ng-class="{ active: isAdventure()}"><a href="#levels" data-ng-click="setLevel(1)">Levels</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div data-ng-view></div>
    </div>

    <div class="addthis_sharing_toolbox"></div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-local-storage/angular-local-storage.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-timer/dist/angular-timer.min.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>

    <script src="app/app.js"></script>
    <script src="app/js/services/GameService.js"></script>
    <script src="app/js/services/BaseFigure.js"></script>
    <script src="app/js/services/Figures.js"></script>
    <script src="app/js/services/Fields.js"></script>
    <script src="app/js/services/Score.js"></script>
    <script src="app/js/services/Levels.js"></script>
    <script src="app/js/services/Speed.js"></script>
    <script src="app/js/controllers/HeaderCtrl.js"></script>
    <script src="app/js/controllers/SpeedCtrl.js"></script>
    <script src="app/js/controllers/GameOverCtrl.js"></script>
    <script src="app/js/controllers/BoardCtrl.js"></script>
    <script src="app/js/controllers/ScoreCtrl.js"></script>
    <script src="app/js/controllers/NextFigureBoardCtrl.js"></script>
    <script src="app/js/filters.js"></script>
    <script src="app/js/directives.js"></script>
</body>
</html>
