body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../img/puzzle.png);
}

.game_area{
    border-collapse: collapse;
}

.game_area td{
    width: 20px;
    height: 20px;
    border: 1px solid transparent;
}

#gameContainer{
    text-align: center;
    margin: 50px auto auto;
}

.standart_table{
    display: table;
}

.controls a, .tetris_btn{
    background-color: #1251A0!important;
    border-color: #096EEC!important;
}

.controls a:hover, .tetris_btn:hover{
    background-color: #2275DD !important;
    border-color: #096EEC!important;
}

.game_area tr:nth-child(odd) td:nth-child(even){
    background-color: #5887a0;
}

.game_area tr:nth-child(odd) td:nth-child(odd){
    background-color: #526ba0;
}

.game_area tr:nth-child(even) td:nth-child(odd) {
    background-color: #5887a0;
}

.game_area tr:nth-child(even) td:nth-child(even) {
    background-color: #526ba0;
}

.figure{
}

.block_border{
    background-color: #1251a0!important;
    width: 2px!important;
    height: 2px!important;
}

.block_line{
    background-color: #08D3FF!important;
    box-shadow: inset 0 0 1px 1px #008BA8;
}

.block_l_left{
    background-color: #FF59FF!important;
    box-shadow: inset 0 0 1px 1px #D100D1;
}

.block_l_right{
    background-color: #FF0!important;
    box-shadow: inset 0 0 1px 1px #B2B300;
}

.block_square{
    background-color: #3BDF3B!important;
    box-shadow: inset 0 0 1px 1px #00A300;
}

.block_l_zigzag{
    background-color: #D80448!important;
    box-shadow: inset 0 0 1px 1px #FF96C4;
}

.block_r_zigzag{
    background-color: #0054D1!important;
    box-shadow: inset 0 0 1px 1px #6EA2FF;
}

.block_ship{
    background-color: #FFA1F2!important;
    box-shadow: inset 0 0 1px 1px #FF4FE7;
}

.block_shadow{
    background-color: #91C3DD!important;
    box-shadow: inset 0 0 1px 1px #8F8F8F;
}

.boardContainer{
    position: relative;
}

.big_count_wrap{
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.big_count_inner_wrap{
    height: 100%;
    width: 100%;
    display: table;
}

.big_count{
    display: table-cell;
    vertical-align: middle;
    font-size: 100px;
    color: #FFF;
}

.score_label{
    font-size: 18px;
    margin: 15px;
}

.speedAlert{
    position: absolute;
    top: 60px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
}

#levelsInnerContainer{
    display: table;
    margin: auto;
    padding: 15px;
}

.level_link{
    margin: 15px;
}

.level_description{
    width: 209px;
    margin: 15px 0;
    padding: 15px;
    border: 4px solid #1251A0;
}

.parameters_info{
    padding: 15px 0;
    border: 4px solid #1251A0;
}