.game_area{
    border-collapse: collapse;
}

.game_area td{
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
}

#gameContainer{
    padding: 15px;
}

.block_border{
    background-color: #000;
}

.block_line{
    background-color: #0FF;
}

.block_l_left{
    background-color: #F0F;
}

.block_l_right{
    background-color: #FF0;
}

.block_square{
    background-color: #0F0;
}

.block_l_zigzag{
    background-color: #F00;
}

.block_r_zigzag{
    background-color: #00F;
}

.block_ship{
    background-color: #ffa1f2;
}

