<div id="gameContainer" data-game-controls>
    <table class="game_area">
        <tr ng-repeat="row in rows">
            <td ng-repeat="cell in row" ng-class="getClassFor(cell)" class="board_cell">
            </td>
        </tr>
    </table>
    <div class="controls">
        <input type="button" class="pull-left" value="New Game" ng-click="launch_new_game()"/>
        <input type="button" class="pull-left" value="Rotate" ng-click="rotate()"/>
        <input type="button" class="pull-left" value="Left" ng-click="moveLeft()"/>
        <input type="button" class="pull-left" value="Right" ng-click="moveRight()"/>
        <input type="button" class="pull-left" value="Down" ng-click="moveDown()"/>


    </div>
</div>