<div class="modal-body">
    <h3>Game over!</h3>
    <div class="score_label">Your current score is: {{ current_score }}</div>
    <div class="score_label">Your best score is: {{ best_score }}</div>
    <a href="javascript:void(0)" class="btn btn-info tetris_btn" ng-click="replay()">
        <span class="glyphicon glyphicon-repeat"></span> Replay game
    </a>
    <a href="#/" class="btn btn-info tetris_btn" ng-click="cancel()">
        <span class="glyphicon glyphicon-list"></span> Main menu
    </a>
</div>
